* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}


.flex-container-head {
    /*генерирует flex-контейнер уровня строки*/
    display: -webkit-inline-flex;
    display: inline-flex;
    margin: 0;
    background-color: #1b0a1e;
    width: 100%;
    height: 150px;
    position: relative;

}

.logo {
    margin: 0;
    flex-grow: 3;
    order: 0;
    display: flex;
    justify-content: center;
    /*Центрирование по горизонтали*/
    align-items: center;
    /*Центрирование по вертикали */
}


.logo_text {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 60px;
    font-weight: normal;
    color: transparent;
    text-shadow: 0 0 1px #eee, 5px 5px 1px #00dcdc, -5px -2px 1px #ff3232;
    animation: glitch 4s ease-in-out infinite alternate;
}

@keyframes glitch {

    0%,
    40%,
    44%,
    58%,
    61%,
    65%,
    69%,
    73%,
    100% {
        transform: skewX(0deg);
    }

    41% {
        transform: skewX(10deg);
    }

    42% {
        transform: skewX(-10deg);
    }

    59% {
        transform: skewX(40deg) skewY(10deg);
    }

    60% {
        transform: skewX(-40deg) skewY(-10deg);
    }

    63% {
        transform: skewX(10deg) sk
    }
}

.logo_pic_area {
    margin: 10px;
    flex-grow: 1;
    order: -1;
}

.logo_pic {
    margin: 0;
    width: auto;
    height: 100%;
    animation: glitch 4s ease-in-out infinite alternate;
}

.search {
    margin: 0;
    flex-grow: 2;
    order: 1;
}



.site_body {
    margin: 0;
    background-color: #1b0a1e;
    width: 100%;
    height: auto;
    min-height: 700px;
    position: relative;
    margin: 0;
    padding: 20px;
}

.footer {
    margin: 0;
    background-color: #1b0a1e;
    width: 100%;
    height: 150px;
    flex: 0 0 auto;
}


/*ПОИСК*/

form {
    position: relative;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    box-shadow: 0 0 1px #eee, 2px 2px 1px #00dcdc, -2px -1px 1px #ff3232;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover {
    width: 300px;
    cursor: pointer;
}

form:hover input {
    display: block;
}

form:hover .fa {
    background: #07051a;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr, 7fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'tracks tracks post-2'
        'post-1 post-1 post-2';
    height: 100%;
    width: 80%;
    margin: auto;
    overflow: auto;
    height: 530px;
    gap: 20px;
}

.post-1 {
    grid-area: post-1;
    padding: 30px;
    padding-top: 0;
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.post-2 {
    grid-area: post-2;
    overflow: hidden;
}

.post-1::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/*СПИСОК*/

.tracks {
    grid-area: tracks;
    text-align: left;
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.tracks:hover {
    color: transparent;
    text-shadow: 0 0 1px #eee, 2px 2px 1px #00dcdc, -2px -1px 1px #ff3232;
}

.rounded {
    counter-reset: li;
    list-style: none;
    font-size: 24px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: normal;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    margin-top: 0;
    margin-left: 10px;
    width: 100%;
    height: auto;
}

.rounded a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: white;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
    box-shadow: 0 0 2px #eee, 2px 2px 1px #00dcdc, -2px -1px 1px #ff3232;
}

.rounded a:hover {
    background: #ade8e8;
}

.rounded a:hover:before {
    transform: rotate(360deg);
}

.rounded a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: white;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .2em solid #00dcdc;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
    box-shadow: 0 0 1px #eee, 2px 2px 1px #00dcdc, -2px -1px 1px #ff3232;
}

/*АЛЬБОМ*/
.song_area {
    background-color: rgba(255, 255, 255, 0.779);
    padding: 10px;
}

.album_pic {
    margin: 0;
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.song_name {
    margin: 0;
    color: #1b0a1e;
    font-size: 16pt;
}

.artist_name {
    margin: 0;
    color: #1b0a1e;
    font-size: 10pt;
}